<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Citrus"
        tools:targetApi="31">
        <activity
            android:name=".management"
            android:exported="false" />
        <activity
            android:name=".UnhealthyActivity"
            android:exported="false" />
        <activity
            android:name=".healthy"
            android:exported="false" />
        <activity
            android:name=".greening"
            android:exported="false" />
        <activity
            android:name=".canker"
            android:exported="false" />
        <activity
            android:name=".blackspot"
            android:exported="false" />
        <activity
            android:name=".about"
            android:exported="false" />
        <activity
            android:name=".instruction"
            android:exported="false" />
        <activity
            android:name=".library"
            android:exported="false" />
        <activity
            android:name=".Camera"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>